body{
    background-color: blue;
    background-image: url(pikachu.jpg);
    text-align: center;
    color:crimson;
}
h1{
    color:blueviolet;
}
p{
    color:black;
}
ul{
    list-style-type:none;
}